body {
    background-image: url('https://i.pinimg.com/736x/88/ae/73/88ae7337fe1891ade67bbdcfe8e32e1a.jpg');
background-size: cover;

}
.caixa-de-fundo {
    position: relative;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 4px dotted rgb(253, 149, 197)
    
}
 .caixa-de-fundo h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(241, 53, 125);
 }

 .caixa-de-fundo p {
    text-align: justify;
    font-size: 50px;
    padding: 30px;
    padding-top: 0px;
    color: rgb(241, 53, 125);
 }
 .laco1,
 .laco2{
    position:absolute;
    width: 120px;
    z-index:2 ;
 }

.laco1 {
    top: -20px;
    left: -22px;
    transform: rotate(-18deg);
}
.laco1 img,
.laco2 img {
    width: 100%;
    height: auto;
}

.laco2 {
    top: -20px;
    right: -20px;
    transform: rotate(30deg);

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelopeclosed {
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 15%;
    width: 50%;
    height: 90%;
    background-color: rgb(245, 107, 160);
    border-radius: 20px;
    border: 4px solid rgb(226, 52, 119)
    
    
   

}

    